body{
    background-color: rgba(255, 254, 254, 0.92);
    margin: 0px;
   /* background-image: url(../images/Supermat.jpeg);*/
    
}
#topMenu{
    display: flex;
    background-color: rgb(17, 226, 237);
    height: 55px;
    text-decoration: none;
}

#topMenuNavLeft li {
    display: inline;
    
    
    
}

#topMenuNavRight li {
display: inline;

}

#Signup{
    margin-left: 400px;

}
#Getstarted button {
    padding: 0,8em;
    background-color: blue;
}
#Loggin{
    margin-left: 1px;
    
}
p{
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
font-size: 30px;
}
p1{
    color: white;
}

#topMenuNavLeft li :hover {
    background-color: gray;
   
}

#topMenuNavRight li :hover {
    background-color: gray;
}

article {
    text-align: center;
}
article p {
    font-size: 25px;
    
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#Lowerbutton li {
    font-weight: normal;
    color: blue;
    display: inline;
 
}
#Lowerbutton button {
    background-color: blue;
    padding: 2em;
}
#DropboxLogo{
    display: flex;
align-items: center;
justify-content: center;
font-size: 25px;    
margin: 5px;
}

a {
    text-decoration: none;
    
}


@media screen and (max-width:500px) {
    
}
#Rick{
    text-decoration-color: black;
}