body{
    background-color: rgba(255, 255, 255, 0.92);
    margin: 0px;
   /* background-image: url(../images/Supermat.jpeg);*/
    
}

#container {
    display: flex;
    flex-direction: column;
}

 #topMenu{
    display: flex;
    background-color: rgb(17, 226, 237);
    height: 55px;
    justify-content: center;
}

#topMenuNavLeft {
    display: flex;
    background: green;
    width: 50%;
}

#topMenuNavRight {
    display: flex;
    background: purple;
    width: 50%;
}



#topMenu a {
    text-decoration: none;
    border: solid black 1px;
}

#Signup{
    margin-left: 400px;

}
#Getstarted button {
    padding: 0,8em;
    background-color: blue;
}
#Loggin{
    margin-left: 1px;
    
}
p{
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
font-size: 30px;
}

p1{
    color: white;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#Lowerbutton button {
    background-color: blue;
    padding: 2em;
}

#DropboxLogo{
    display: flex;
align-items: center;
justify-content: center;
font-size: 25px;    
margin: 5px;
}

a {
    text-decoration: none;
    
}


@media only screen and (max-width: 360px) {
    [class*="col-"] {
    width: 100%;
    display: flex;
}

}

#Rick{
    text-decoration-color: black;
}

.buttons{
    /*color: white;
    font-size: 16px;
    height: 100%;
    background: green;*/
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}